* {
    font-family: "Roboto", sans-serif;
    margin: 0%;
    padding: 0%;
}

h1 {
    text-align: center;
    padding-top: 5vh;
    color: #eeeeee;
    font-size: 7vh;
}

body {
    background-color: #1c1c1c;
}

#btn {
    padding-left: 1em;
    padding-top: 1em;
}

button {
    text-decoration: none;
    color: #eeeeee;
    font-size: 1em;
    border: 0px;
    border-radius: 10em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    color: #444;
    background-color: #d82148;
}

#anc {
    text-decoration: none;
    color: #eeeeee;
}

h2 {
    color: #eeeeee;
}

.spacer {
    height: 3em;
}

.box {
    margin: auto;
    max-width: 800px;
    background-color: #252525;
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.8);
    border-style: solid;
    border-color: #555;
    border-radius: 5px;
    border-width: 1px;
}

.rdmr {
    font-size: 1.3rem;
    text-decoration: none;
    color: #1597bb;
    font-weight: 900;
}

.heading {
    padding-top: 1em;
    padding-bottom: 0.5em;
    font-size: 2.3em;
    text-align: center;
    color: #eb5e0b;
}

.write {
    color: #eeb76b;
    padding-bottom: 1em;
    font-size: 1.3em;
    text-align: left;
    padding-left: 3vw;
    padding-right: 3vw;
}
